.contenedor {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #6a8aa6;
}

.obtener_encriptador {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#obtener_encriptador_input {
  position: relative;
  height: 80vh;
  background: inherit;
  border: none;
  outline: none;
  padding: 0 70px;
  font-size: x-large;
  top: 50px;
  color: #c8dbe1;
  z-index: 500;
}
.obtener_encriptador_input::placeholder {
  position: absolute;
  top: 0px;
}

.contenedor_botones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  padding: 0 50px;
  z-index: 900;
}
button {
  width: 150px;
  height: 40px;
  background: #012340;
  border: none;
  border-radius: 35px;
  color: #c8dbe1;
  transition: 0.5s;
}
.mostrar_encriptador {
  width: 40%;
  display: flex;
  flex-direction: column;
  background: #c4eef2;
  margin: 20px;
  border-radius: 50px;
  padding: 20px;
}
.mostrar_encriptador_div {
  height: 80vh;
}

#mostrar_encriptador_mesaje {
  position: fixed;
  height: 80vh;
  background: inherit;
  border: none;
  outline: none;
  padding: 20px;
  font-size: x-large;
  color: #101a26;
  z-index: 900;
  cursor: context-menu;
  z-index: 500;
}
.contenedor_boton_copiar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  z-index: 1000;
}

button:hover {
  background: #d9e1b2;
  border: solid #012340;
  color: #012340;
  font-weight: 900;
  cursor: pointer;
}
button:active {
  width: 160px;
  height: 50px;
  background: #c8dbe1;
  border: solid #012340;
  color: #012340;
  font-weight: 900;
  cursor: grabbing;
}

@media (max-width: 700px) {
  .contenedor {
    flex-wrap: wrap;
    height: 100vh;
  }
  .obtener_encriptador {
    width: 100%;
    height: 50vh;
    padding: 0px;
  }
  .mostrar_encriptador {
    width: 100%;
    height: 50vh;
    border-radius: 0px;
    margin: 0px;
  }
  button:hover {
    width: 150px;
    height: 40px;
    background: #012340;
    border: none;
    border-radius: 35px;
    color: #c8dbe1;
    transition: 0.5s;
    font-size: small;
    font-weight: normal;
  }
  button:active {
    width: 160px;
    height: 50px;
    background: #c8dbe1;
    border: solid #012340;
    color: #012340;
    cursor: grabbing;
    font-size: small;
    font-weight: normal;
  }
}
